.btn {
    background-color: rgb(196, 228, 17);
    height: 60px;
    width: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: 0.5s all;
    cursor: pointer;
    &:hover {
        box-shadow: 3px 3px 20px #020202;
        border: none;
    }
}