.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    //display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    &:hover {
        span {
            background: #151812
        }
    }
    span {
        transition: 0.3s all;
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}
